# Default ignored files
/shelf/
/workspace.xml

#Gradle directories
../.gradle
../build
../gradlew
../gradlew.bat
../build.gradle
../settings.gradle

# IDE-specific files
.idea/
*.iml

#Important excludes
../src/main/resources/application.properties
